:root {
    --bs-body-font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root { --bs-body-font-family: InterVariable, sans-serif; }
}
body {
    max-width: 1120px;
}
a:not(:hover) {
    text-decoration: none;
}

.columns {
    columns: 3 22rem;
    h2 {
        margin-top: 0;
    }
    .column {
        break-inside: avoid-column;
    }
}